
:root{
    --larger-project-width: 900px;
    --smaller-project-padding: 10px;
}

* {
    box-sizing: border-box;
    background-color: #ffd5c2ff;
    color: #c8553dff;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 50px;
}

main {
    border: 20px;
    }

header {
    text-align: center;
    border-color: aquamarine;
    border: 20px;
}

h1 {
    margin-top: 0;

    text-decoration: #f5f5f5;
}

.hide {
    display:none;
}


/* SCSS HEX
$liver: #7a5c58ff;
$white-smoke: #f5f5f5;
$apricot: #ffd5c2ff;
$tangerine: #f28f3bff;
$jasper: #c8553dff; */