body {
    margin: 0;
    padding: 0;
}

main {
    border: 1px solid black;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 0;
}

.hide {
    display:none
}